body {background: rgb(208, 216, 218)}
h1 {color: rgba(0, 0, 255, 0.541)}
h1 {background: rgba(255, 255, 255, 0.541)}

h2 {color: rgb(85, 79, 79)}
h3 {color: rgb(85, 79, 79)}
p {color: rgb(85, 79, 79)}