body {background: rgb(208, 216, 218)}
.h1 {
    color: rgba(0, 0, 255, 0.541)
}
h1 {background: rgb(208, 216, 218)}

h2 {color: rgb(85, 79, 79)}
h3 {color: rgb(85, 79, 79)}
p {color: rgb(85, 79, 79)}

.sekcjaPoradnik {
    background-color: rgb(219 231 239);
}
#foo1{
    color: blue;
}

#PhoGrz{
    width: 250px;
    height: 300px;
}

b{
    color: rgb(10 33 146);
}

#naV a{
    background-color: #44b0da; 
    border: none;
    color: white;
    padding: 15px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}